body {}

xh1 {text-shadow: 3px 3px 10px red;}

.leipateksti {
    color: black;
    float:left;
    width: 50%;
    xbackground: url("Enigma.JPG");
     xbackground-size: 60% 100%;
}

li:hover {
  color: rgb(247, 97, 11);
  xtransition: all 2s;
}
aside:hover {
  xwidth: 45%;
  xtransition: 5s;
  }
  
@media screen and (max-width: 992px) {
  body {
    background-color: lightblue;
  }
}

@media screen and (max-width: 600px) {
  body {
  	background-color: olive;
    }
    .navi {display:block;
	   color:red}
}

aside {
    width: 30%;
  padding-left: 5px;
  margin-left: 5px;
  float: left;
  font-style: italic;
}


img {
    max-width: 100%;
    height: auto; 
}

.navi {display:inline; font-size: 20px;}

/*
    box-shadow: 3px 3px 10px red;
*/


