body {
  background-color: tan;
}

.navi {display:inline;}


@media screen and (max-width: 992px) {
  body {
    background-color: lightblue;
  }
}

@media screen and (max-width: 600px) {
    body {
	background-color: olive;
    }
    .navi {display:block;
	   color:red}
}



  xh1 {text-shadow: 3px 3px 10px red;
     }


  

.leipateksti {
    color: white;
    float:left;
    width: 60%;
    xbackground: url("Enigma.JPG");
     xbackground-size: 60% 100%;
}


 
li:hover {
color: hsl(36,100%,50%);
}


  
aside {
    width: 30%;
  padding-left: 5px;
  margin-left: 5px;
  float: right;
  font-style: italic;
/*    xbox-shadow: 3px 3px 10px blue;
*/
}


img {
    max-width: 100%;
    height: auto; 
}


/*
    box-shadow: 3px 3px 10px red;
*/


