body {
}
  
* { box-sizing: border-box; }

nav {
  background-color: darkgray;
  color: white;
}

nav ul { list-style-type: none; } 
nav a { text-decoration: none; }
nav a:hover { color: hsl(36,100%,50%); }

main {
  background-color: darkkhaki ;
}

footer {clear: both;}

.row.bw { background-color: black;
color: white;}