body {
}
  

X { box-sizing: border-box; }

xnav {
  background-color: darkgray;
  color: white;
}

xnav ul { list-style-type: none; } 
xnav a { text-decoration: none; }
xnav a:hover { color: hsl(36,100%,50%); }

#enigma {float: right;}

xmain {
  background-color: darkkhaki ;
}

footer {clear: both;}

xxx.bw { background-color: black;
color: white;}

xp:first-letter {
  font-size: 2.7em; 
  float: left;
  margin-right: 5px;
}

x.row {background-color: black;
  color: white
}

x.col-4 {color: red;}

x.col-sm-4 {background-color: pink;}
