/*
body{
    background-color: black;
    color: white;
}

h1{
    font-size: 20px; 
}

p {
    font-size: 12px; 
    color: green; 
}

div {
    border: dotted;
    border-width: 2px;
    width: 100px;
    height: 100px; 
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: lower-alpha;
}

skdjfdiv {
background: black;
   color: #ffffff;
   border: 5px solid rgb(0, 255, 0); }


#h2-2 {}
*/
.navi {display:inline;}

/*
i {border: 1px solid red;
margin: 40px;}
*/

div.leipateksti {
 border: 3px solid black;
  padding: 15px;
  margin: 20px;
}

div.leipateksti2 {
  border: none;
  border-style: dotted;
}

aasd img {border: 3px solid blue;}

footer {
  position:absolute;
   bottom:0;
   width:100%;
   xheight:60px;   /* Height of the footer */
   background:#6cf;
}