/*body {background: red; color: yellow;}
*/

p {  font-size: 20px;
  }



 
skdjfdiv {
background: black;
   color: #ffffff;
   border: 5px solid rgb(0, 255, 0); }


#h2-2 {}

.navi {display:inline;}

/*
i {border: 1px solid red;
margin: 40px;}
*/

div.leipateksti {
 border: 3px solid black;
  padding: 15px;
  margin: 20px;
}

div.leipateksti2 {
  border: none;
  border-style: dotted;
}

a img {border: 3px solid blue;}