body {background: red; color: yellow;}

/*
p {color: black}
*/


 
div {
background: black;
   color: #ffffff;
   border: 5px solid rgb(0, 255, 0); }


#h2-2 {}

.navi {display:inline;}


aside {
    width: 30%;
    height: 5em;
    overflow: scroll;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightgray;
}


div.leipateksti {color: blue;
		 font-family: arial;
		 border-width: 1px; border-style: dashed; border-color: white;
		 padding: 2px;
		 padding: 5em;
		 margin-left: 5em;
		 margin-right: 10em;
		 clear: both;
		}
