body {
  background: rgb(158, 225, 241);
  color: black;
}
  
* { box-sizing: border-box; }

.foo {
  border: 1px solid red;
}

#enigma { 
  display: inline; 
  float: left;
  border: 1px solid red;}  

#colossus { 
  float: right;
}

nav {
  float: left;
  width: 30%;
  font-family: Arial;
  background-color: darkgray;
  color: white;
}

nav ul { list-style-type: none; } 
nav a { text-decoration: none; }
nav a:hover { color: pink; }
xnav li {display: inline;}

main {
  float: right;
  width: 50%;
  background-color: darkkhaki ;
  padding: 20px;
}

footer {clear: both;}

p:first-letter {
  font-size: 2.7em; 
  float: left;
  margin-right: 5px;
}

#p5 {color: violet;}