body {
  background: rgb(158, 225, 241);
  color: black;
}
  
x* { box-sizing: border-box; }

header {margin: auto; }

p::first-letter {
  font-size: 3em; 
  float: left;
}

#enigma { float: right; }  

#colossus { 
  float: right;
  xposition: absolute;
  xtop 200px;
}

nav {
  float: left;
  width: 30%;
  font-family: Arial;
  background-color: darkgray;
  color: white;
}

nav ul { list-style-type: none; } 
nav a { text-decoration: none; }
nav a:hover { color: hsl(36,100%,50%); }

main {
  float: left;
  width: 70%;
  background-color: darkkhaki ;
}

footer {clear: both;}