body {
    background: rgb(109, 196, 218);
    color: rgb(48, 12, 82);
    background-image: url("xhttps://upload.wikimedia.org/wikipedia/commons/0/07/Alan_Turing_portr%C3%A9.jpg");
    }

.reunus {
    border-width: 2px;
    border-style: dotted;
    color: red;
}    

h1    {
        font-size: 20px;
      }

p      {
        font-size: 12px;
      }


a img {  border-width: 2px;
  border-style: solid;
  color: white;
  border-radius: 5px;}

xa {border:  10px solid yellow;}
ximg {border: 10px solid purple;}

#kuva1 {height: 100px;}
#kuva2 {height: 50px;}

* {
  box-sizing: border-box;
}

section::after {
  content: "";
  display: table;
  clear: both;
}
nav {
  float: left;
  width: 30%;
  background-color: darkgray;
  color: white;}

  article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: darkkhaki ;
  }
#salaimet {background-color: chartreuse;}

#turing {background-color: cyan;}

#lorem {background-color: black;
  color: white;}

  .kuvat {border:  10px solid yellow;}