table, td, th {
    border: 1px solid;
    border-collapse: collapse;
}
/*
    border-collapse: collapse;
    border-spacing: 5px;
    padding: 15px;
*/

th {
    color:red;
}
td {
    text-align: center;
}

/*

text-align: left;

*/
